<div>
  <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">


    <app-input
      label="Username"
      placeholder="Enter Username"
      type="text"
      [required]="true"
      [control]="$any(formData.get('userName'))"
    >
    </app-input>

    <app-input
      label="First Name"
      placeholder="Enter Firstname"
      type="text"
      [required]="true"
      [control]="$any(formData.get('firstName'))"
    >
    </app-input>


    <app-input
      label="Last Name"
      placeholder="Enter Last Name"
      type="text"
      [required]="true"
      [control]="$any(formData.get('lastName'))"
    >
    </app-input>

    <div>
      <button [disabled]="formData.invalid">Submit</button>
    </div>
  </form>
</div>

<p>{{formData.value | json}}</p>
